@font-face {
    font-family: 'nowayregular';
    src: url('fonts/noway-regular-webfont.eot');
    src: url('fonts/noway-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/noway-regular-webfont.woff2') format('woff2'), url('fonts/noway-regular-webfont.woff') format('woff'), url('fonts/noway-regular-webfont.ttf') format('truetype'), url('fonts/noway-regular-webfont.svg#nowayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}